
.inner {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 50%;
    margin: 0 auto;
}

.buttons {
    padding-left: 75px;
    width: 50%;
    margin: 0 auto;

}

h2 {
    text-align:center;
    padding-bottom: 10px;
}

h4 {
    margin: 0 auto;
    text-align:center;
    padding-top: 8px;
}

